
h1 {
  color: #333;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-container {
  padding: 20px;
}

.customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-form label {
  color:darkblue;
  margin: 8px 0px;
}

.customer-form input {
  padding: 4px;
  width: 100%!important;
  border-radius: 2pt;
  border: 1px solid #ccc;
}

.customer-form button {
  border: none;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin: 8px 0px;
  border-radius: 2pt;
  background-color: darkgrey;
  transition: background-color 0.3s;
  cursor: pointer;
}

.customer-form button:hover {
  background-color: white;
  color: blue;
}

.list-container {
  width: 70%;
  height: 70vh;
  padding: 10px;
  background-color: #f9f9f9;
}

